<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">
    <contextName>archetype-helloworld</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_SHORT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss} [%thread] %-5level %logger{32} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <jmxConfigurator/>
    <root level="WARN">
        <appender-ref ref="STDOUT_SHORT"/>
    </root>

    <logger name="dominus" level="ALL"/>
    <!--<logger name="org.springframework.jms" level="ALL" />-->
    <!--<logger name="org.apache.activemq" level="ALL" />-->
    <logger name="net.spy.memcached" level="ALL"/>
    <logger name="org.apache.zookeeper" level="WARN"/>
    <logger name="org.springframework.jdbc" level="INFO"/>
    <logger name="org.apache.hadoop" level="INFO"/>
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG"/>
    <logger name="dominus.intg.jms.kafka" level="INFO"/>
</configuration>
