/archetype-microservice/target
/archetype-microservice/.idea
/archetype-microservice/archetype-microservice.iml
/archetype-helloworld/derby.log
/archetype-helloworld/archetype-helloworld.iml
/archetype-helloworld/.idea
/my-archetype.iml
/derby.log
/metastore_db
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
/.idea
/archetype-helloworld.iml

# Package Files #
*.war
*.ear
/archetype-helloworld/metastore_db

/archetype-www/target
/archetype-helloworld/target
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/archetype-common/archetype-common.iml
/archetype-hadoop/archetype-hadoop.iml
/archetype-hadoop/src/main/resources/spring-container/props/intg/
/archetype-hello-scala/target/
/archetype-hello-scala/archetype-hello-scala.iml
