<table border="0" cellpadding="0" cellspacing="0"
       background="http://gtms02.alicdn.com/tps/i2/TB11Oz8HpXXXXXkXFXXjTKpVpXX-841-932.png" width="841" height="932">
    <tr>
        <td height="356">&nbsp;</td>
    </tr>
    <tr>
        <td height="390" align="center">

            <table height="100%" width="70%">
                <tr>
                    <td valign="top">
                        <h3 style="font-size: 18px;">
                            亲爱的： xxx
                        </h3>

                        <h1 style="font-size: 22px;">
                            恭喜您!
                        </h1>

                        <h1 style="font-size: 22px;">
                            您已成功入驻为阿里 · 开放平台阿里大鱼开发者，欢迎您加入阿里巴巴开放平台大家庭。
                        </h1>
                        <br/>
                        请点击以下链接验证您的邮箱：
                        <br/>
                        <br/>
                        <a href="http://my.open.taobao.com/common/verifyEmail.htm?sign=B9987847EACB8A31C4A122212219330E&nick=xxx&email=xxx%40gmail.com&"
                           target="_blank">http://my.open.taobao.com/common/verifyEmail.htm?sign=B9987847EACB8A31C4A122212219330E&nick=xxx&email=xxx%40gmail.com&</a>
                        <br/>
                        <br/>
                        <br/>

                        <p>
                            null
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="186" valign="top">&nbsp;</td>
    </tr>
</table><br/><br/><a target='_self'
                     href='http://mcmailunsubscribe.alibaba-inc.com/mcmailunsubscribe/unsub/EmailUnsubscribe.htm?mailAddress=xxx'><span
        style='font-weight:bold'>点击退订邮件</span></a>